.container1{
    background: pink;
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px ;
    grid-template-rows: 20px 20px 20px 20px 20px ;
}
.container2{
    background: papayawhip;
    display: grid;
    grid-template-columns: repeat(5,20px) ;
    grid-template-rows: repeat(5,20px);
}

.container3{
    background: purple;
    display: grid;
    grid-template-columns: repeat(5,20px) ;
    grid-template-rows: repeat(5,20px);
}