body{
    background-image: linear-gradient(to right top, #425476, #3e779f, #259dc3, #00c4dd, #12ebeb);
    margin:0;
    height: 100vh;
}


.container2{
    display: grid;
    grid-template: repeat( 2, 1fr)/repeat( 2, 1fr);
    height: 100vh;
    grid-template-areas: 
    "card1 card2"
    "card1 card3"
    ;
    /* border: 8px dashed teal; */

}

.item-a{
    grid-area: card1;
    background: yellow; 
}
.item-b{
    grid-area: card2;
    background: blue; 
}
.item-c{
    grid-area: card3;
    background: red; 
}
