.container{
    display: grid;
    background: red;
    border: 8px dashed teal;
    /* gap: 1px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 90px;

}

.container2{
    display: grid;
    background: red;
    border: 8px dashed teal;
    /* when we have images and don't want them to be too deformed */
    grid-template-columns: repeat( auto-fit , minmax(266px, 1fr));
    grid-template-rows: repeat(4,266px)

}

.item-a{

    background: blue;
    border: 4px solid hotpink;    
}

.item-b{
    background: blueviolet;
    border: 4px solid hotpink;
    
}
.item-c{

    background: violet;
    border: 4px solid hotpink;
    
    
}

.item-d{

    background: greenyellow;
    border: 4px solid hotpink;
}